{:paths ["src"]
 :deps {
        io.github.kotoba-lang/kotoba-io-reader
        {:git/url "https://github.com/kotoba-lang/kotoba-io-reader.git"
         :git/sha "a1a1351ed58f2db0d26ea98a03c6155c0baa8563"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
